




.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: white;
  padding-bottom: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.video-section {
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(92, 82, 82, .42)), to(rgba(92, 82, 82, .42))), url('../assets/fractal-1280079_960_720.jpg');
  background-image: linear-gradient(180deg, rgba(92, 82, 82, .42), rgba(92, 82, 82, .42)), url('../assets/fractal-1280079_960_720.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
  padding: 20px;
}

/* NavBar Styles */
.nav-bar {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#363636), to(#363636));
  background-image: linear-gradient(180deg, #363636, #363636);
}

.brand {
  height: 40px;
  width: 200px;
  margin-left: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../assets/logo_gold.png');
}

.planeterrella-img {
  height: 100%;
  margin-bottom: 0px;
  background-image: url('../assets/planeterrella_banner.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

.planeterrella-banner {
  position: relative;
  height: 70px;
  background-image: url('../assets/10712677_372448922931609_40_med.jpeg'), -webkit-gradient(linear, left top, left bottom, from(#e1e0e0), to(#e1e0e0));
  background-image: url('../assets/10712677_372448922931609_40_med.jpeg'), linear-gradient(180deg, #e1e0e0, #e1e0e0);
  background-position: 100% 0px, 0px 0px;
  background-size: cover, auto;
  box-shadow: 2px 13px 24px 0 #252525;
}

.planeterrella-banner.info-pages {
  position: relative;
  margin-bottom: 0px;
  box-shadow: 2px 13px 24px 0 #404040;
}

/* Video Styling */

.latency-message {
	display: inline-block;
  color: #9a8f65;
  font-size: 12px;
  font-weight: 400;
	text-align: left;
	margin-bottom: 10px;
	margin-top: 10px;
	margin: 10px;
}

.video {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex-direction: column;
  margin-bottom: 15px;
}

.video-iframe {
  flex-grow: 99;
}

.iframe {
  width: 100%;
  height: 100%;
}

.queue-info {
  text-align: left;
  width: 100%;
}

.label-row {
  margin-top: 10px;
}

.warning {
  display: inline-block;
  color: #f3a229;
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  line-height: 100%;
  width: 100%;
  margin-bottom: 0;
}

.video-label {
  display: inline-block;
  color: #9a8f65;
  font-size: 18px;
  font-weight: 300;
  text-align: left;
  margin-bottom: 5px;
  line-height: 100%;
  width: 100%;
}

.video-label-row{
	display: inline-block;
	margin-bottom: 5px;
	margin-left: 15px;
}

.video-row {
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: stretch;
}

.video-col {
  height: 100%;
}

.w-video {
  width: 100%;
  position: relative;
  padding: 0;
}
.w-video iframe,
.w-video object,
.w-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.w-embed:before,
.w-embed:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
.w-embed:after {
  clear: both;
}

/* Control Box Styling */
.heading {
  margin-top: 0px;
  font-family: Montserrat, sans-serif;
  color: #968b5e;
  font-weight: 300;
  text-align: left;
}

.hide {
  display: none;
}

.control-col {
  min-height: 100%;
  margin-bottom: 20px;
}

.control-box {
  height: 100%;
  padding: 15px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e1e0e0), to(#e1e0e0));
  background-image: linear-gradient(180deg, #e1e0e0, #e1e0e0);
  color: #bfbfbf;
}

.control-selection-labels {
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  display: block;
}

.success-fail-message {
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
}

.slider-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.slider-box {
  display: flex;
  width: 70%;
  height: 20px;
  justify-content: flex-start;
  align-items: center;
}

.power {
  width: 20%;
}

.slider-label {
  display: inline-block;
}

.slider {
  flex-grow: 1;
  appearance: none;
  width: 100%; 
  height: 100%; 
  background: #d3d3d3; 
  outline: none; 
  opacity: 0.7; 
  transition: opacity .2s;
  border-radius: 15px;
}

.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 25px; 
  height: 25px; 
  background: #FF00FF; 
  cursor: pointer;
  border-radius: 100%;
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #FF00FF; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.disabled-slider {
  flex-grow: 1;
  appearance: none;
  width: 100%; 
  height: 100%; 
  background: #d3d3d3; 
  outline: none; 
  opacity: 0.7; 
  transition: opacity .2s;
  border-radius: 15px;
}

.disabled-slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.disabled-slider::-webkit-slider-thumb {
  appearance: none;
  width: 25px; 
  height: 25px; 
  background: #9932CC; 
  cursor: pointer;
  border-radius: 100%;
}

.disabled-slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #9932CC; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.control-btn {
  width: 100%;
  margin-right: 20px;
  margin-bottom: 7px;
  margin-top: 10px;
  padding: 8px 50px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#383838), to(#383838));
  background-image: linear-gradient(180deg, #383838, #383838);
  text-align: center;
}

.control-btn.waiting {
  display: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c90505), to(#c90505));
  background-image: linear-gradient(180deg, #c90505, #c90505);
}

.mode-select {
  margin-bottom: 20px;
  border: 1px none #bfbfbf;
  border-radius: 10px;
}

.button {
  width: 100%;
  background: #7d7c7c;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  border-radius: 0px;
}

.button.top {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.button.bottom {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.selected-btn {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  border-radius: 0px;
  background: #696969;
  border: none;
  outline: none !important;
  border: 0;
}

.selected-btn.top {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.selected-btn.bottom {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Sign In/Up */
.link {
  font-family: Montserrat, sans-serif;
  color: #9a8f65;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
}

/* InfoPage */
.info-section {
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(92, 82, 82, .42)), to(rgba(92, 82, 82, .42))), url('../assets/fractal-1280079_960_720.jpg');
  background-image: linear-gradient(180deg, rgba(92, 82, 82, .42), rgba(92, 82, 82, .42)), url('../assets/fractal-1280079_960_720.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
  padding: 20px;
}

.paragraph {
  font-family: Montserrat, sans-serif;
  color: #000;
  text-align: left;
}

.info-img-bottom {
  width: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('');
}

.info-img-top {
  width: 300px;
  margin-bottom: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('');
}

.info-rows {
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e1e0e0), to(#e1e0e0));
  background-image: linear-gradient(180deg, #e1e0e0, #e1e0e0);
}

.info-img-col {
  position: static;
}

.info-img-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(180deg, #fff, #fff);
}

/* Footer */
.footer {
  display: block;
  height: auto;
  padding: 5px 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#242424), to(#242424));
  background-image: linear-gradient(180deg, #242424, #242424);
  box-shadow: 0 -2px 43px 0 #272727;
}

.footer-info {
  height: 60%;
  padding-right: 50px;
  padding-left: 50px;
}

.footer-row {
  height: 100%;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  color: #ffcd00;  
  text-align: left;
}

.univ-logo {
  height: 31px;
  margin-bottom: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../assets/DomeWordSingle GOLD-ffcd00.png');
}

.acknowledge {
  padding-left: 60px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  text-align: left;
}

.nsf-logo {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../assets/nsf_logo.png');
}

.footer-support-desc {
  font-family: Montserrat, sans-serif;
  color: #fff;  
  text-align: left;
}

.learn-more {
  margin-top: 0px;
  color: #fff;  
  text-align: left;
}

/* Breakpoint Styles */

@media (max-width: 991px) {
  .nav-link {
    display: none;
  }
  .nav-link-column {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .video-row {
    padding-bottom: 10px;
  }
  .heading.control {
    font-size: 24px;
  }
  .video-section {
    width: 100%;
  }
  .video-col {
    height: auto;
  }
  .icon {
    color: #ffcd00;
  }
  .video-container {
    width: 95%;
  }
}

@media (max-width: 990px) {
  .nav-link {
    display: none;
  }
  .nav-link.w--current {
    display: none;
  }
  .nav-link-column {
    height: 100%;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .video-col {
    height: auto;
    padding-bottom: 10px;
  }
  .icon {
    color: #ffcd00;
  }
  .dropdown {
    display: block;
    height: 100%;
  }
  .dropdown-toggle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (max-width: 479px) {
  .nav-link {
    display: none;
  }
  .nav-link-column {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .heading {
    display: block;
  }
  .heading.control {
    display: none;
  }
  .control-box {
    margin-bottom: 10px;
  }
  .button {
    margin-bottom: -1px;
  }
  .planeterrella-banner {
    height: 50px;
    box-shadow: 2px 10px 21px 0 #8f8e8e;
  }
  .icon {
    margin-right: 0px;
    color: #ffcd00;
  }
  .dropdown {
    position: relative;
    display: block;
  }
  .nav-link-dropdown {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 12px;
    line-height: 40px;
  }
  .dropdown-toggle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 25px;
    padding-right: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .dropdown-list {
    position: absolute;
    top: 45px;
    right: -12px;
    bottom: 0px;
    display: none;
    width: 50vw;
    height: 37vh;
    padding: 10px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#363636), to(#363636));
    background-image: linear-gradient(180deg, #363636, #363636);
    text-align: right;
  }
  .footer-info {
    padding: 0px;
  }
  .footer-link {
    font-size: 10px;
  }
}
